* {
  box-sizing: border-box;
}

html {
  color: var(--clr-primary);
  background-color: #ffffff;
  /* font-family: playfair, serif; */
  /* line-height: 1.71428571; */
  /* background-color: yellow; */
}

body {
  /* font-size: 0.875rem; */
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* line-height: 1.5; */
  margin: 0 0 0.8em;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 2.14285714em;
}

p {
  margin: 0 0 0.8em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1;
}

a {
  color: var(--clr-primary1);
  text-decoration: none;
}

.card-title {
  color: #4f4e4e;
  font-family: 'Lato-Bold', sans-serif;
  text-transform: uppercase;
}

.card-link {
  color: #c2c2c2;
  width: max-content;
  font-family: 'Lato-Bold', sans-serif;
  border: 1px solid #c2c2c2;
  text-align: center;
  padding-inline-start: 25px;
  padding-inline-end: 15px;
  padding-block: 5px;
  border-radius: 20px;
}

.card-link:hover {
  color: var(--clr-onhover);
  border-color: var(--clr-onhover);
}

.card-link::after {
  content: '→';
  margin-inline-start: 0.2rem;
  opacity: 0;
  transition: hover, 700ms;
}

.card-link:hover::after {
  opacity: 1;
}

.card-text {
  color: #6b6b6b;
}

@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../../fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'eurof';
  src: url('../../fonts/eurofurence/eurof.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
