* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
}

header {
  grid-column: 2;
  width: 100%;
}

img {
  /* width: 200px;
  height: 200px; */
}

.image-container {
  column-count: 4;
  grid-column: 2;
}

.image-container img {
  width: 100%;
  margin-bottom: 16px; /* Space between images in a column */
  display: block;
}

canvas {
  border: 2px solid black;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .image-container {
    column-count: 3; /* Reduce to 3 columns */
  }

  .gallery-section {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
  }
}

@media (max-width: 800px) {
  .image-container {
    column-count: 2; /* Reduce to 2 columns */
  }

  .gallery-section {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
  }
}

@media (max-width: 500px) {
  .image-container {
    column-count: 1; /* Reduce to 1 column */
  }

  .gallery-section {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
  }
}
.gallery-section {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-column: 2;
}

.edit-section {
  grid-column: 2;
}

.saved-section {
  grid-column: 2;
}

/* Control Panel */
.control-panel {
  background-color: #2e2e2e;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  min-width: 300px;
}

.download-link {
  text-decoration: none;
  color: inherit;
}
