.gallery-section {
  grid-column: 1;
  grid-row: 2;
  gap: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.image-container img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.gallery-search {
  height: 42px;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  border: 1px solid #ccc;
}
