* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif; /* Default font */
  color: red;
}

.saved-section {
  display: none;
}

button img {
  width: 20px;
  height: 20px;
}
