* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif; /* Default font */
  color: #989898;
  background-color: #f3f1f1;
}

button img {
  width: 20px;
  height: 20px;
}
